* {
    margin: 0;
    padding: 0;
}

@-webkit-keyframes drop {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes drop {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.header {
    background: #222222;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header__left{
    display: flex;
    height: 100%;
    align-items: center;
}
.header__search {
    margin-left: 41px;
}
.header__search_input{
    margin-left: 20px;
    background-color: #222222;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 30px;
    border-radius: 15px;
    padding: 0 15px 0 15px;
    border: 1px solid #FFFFFF;
    outline:none
}
.shade{
    filter: brightness(50%);
}
.header__right {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 32px;
}

.header__menu .header__detail__button {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    outline-style: none;
    cursor: pointer;
}

.header__menu .header__detail__button::-webkit-details-marker {
    display: none;
}

.header__menu__img {
    width: 32px;
    height: 32px;
}

.header__detail {
    -webkit-animation: drop 0.2s;
    animation: drop 0.2s;
    height: 764px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 232px;
    background: #ffffff;
    position: absolute;
    top: 75px;
    right: 0px;
    z-index: 2;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header__text {
    margin-top: 38px;
    margin-bottom: 4px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.header__menu__right {
    margin-left: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.header__link__style {
    color: #6F6E6E;
    text-decoration: none;
}

.header__link__style:hover {
    color: #F16D7F;
}

.header__link__p {
    text-decoration: none;
    color: #F16D7F;
}

.header__menu__link {
    list-style-type: none;
    text-decoration: none;
}

.header__p {
    margin-top: 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-decoration: none;
}

.header__wear {
    margin-top: 12px;
    margin-left: 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-decoration: none;
}

.header__backgroud {
    height: 764px;
    width: 100%;
    position: absolute;
    background: black;
    top: 75px;
    left: 0;
    opacity: 50%;
    z-index: 1;
}

.modal__cart {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background: white;
    top: 40px;
    left: -20px;
    width: 350px;
    box-sizing: border-box;
    z-index: 5;
    padding: 30px 15px 30px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal__cart::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    left: 25px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}

.header__menu__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 16px;
    margin-right: 16px;
    width: 13px;
    height: 13px;
}

.header__menu__close {
    width: 13px;
    height: 13px;
    fill: #000000;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.header__menu__close:hover {
    cursor: pointer;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    fill: #F16D7F;
}

.header__right li:not(:last-child) {
    margin-right: 24px;
}

.cart__img {
    display: flex;
    position: relative;
}

.cart__count {
    display: flex;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #F16D7F;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

}

.menu__new {
    list-style-type: none;
    padding-top: 30px;
    display: none;
}

.menu__new_decor {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    color: #222222;
    text-decoration: none;
}

.menu__new_decor:hover {
    color: #F16D7F;
}

.promo {
    background: #F1E4E6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.promo__img {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.promo__photo {
    width: 100%;
}

.promo__text {
    width: 50%;
}

.promo__content {
    margin-top: 40%;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.promo__heading {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.promo__info {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.select {
    color: #F16D7F;
}

@-webkit-keyframes slit-in-vertical {
    0% {
        -webkit-transform: translateZ(-800px) rotateY(90deg);
        transform: translateZ(-800px) rotateY(90deg);
        opacity: 0;
    }
    54% {
        -webkit-transform: translateZ(-160px) rotateY(87deg);
        transform: translateZ(-160px) rotateY(87deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(0) rotateY(0);
        transform: translateZ(0) rotateY(0);
    }
}

@keyframes slit-in-vertical {
    0% {
        -webkit-transform: translateZ(-800px) rotateY(90deg);
        transform: translateZ(-800px) rotateY(90deg);
        opacity: 0;
    }
    54% {
        -webkit-transform: translateZ(-160px) rotateY(87deg);
        transform: translateZ(-160px) rotateY(87deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(0) rotateY(0);
        transform: translateZ(0) rotateY(0);
    }
}

.sale {
    padding-top: 64px;
    padding-bottom: 96px;
}

.sale__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 30px;
}

.sale__img {
    width: 100%;
    border: 0;
}

.sale__item {
    -webkit-animation: slit-in-vertical 0.8s ease-out both;
    animation: slit-in-vertical 0.8s ease-out both;
    position: relative;
}

.sale__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.sale__item:not(:last-child) {
    margin-right: 30px;
}

.sale__p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.sale__heading {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.product__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.product__maintext {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.product__p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    padding-bottom: 48px;
}

.product__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.product__item {
    position: relative;
    width: 360px;
    margin-bottom: 30px;
    background: #F8F8F8;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

}

.product__item_styletext {
    text-decoration: none;
}

.product__item:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.product__item:hover .item__img {
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}

.product__item:hover .product__add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.item__img {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    width: 100%;
}

.product__link {
    text-decoration: none;
}

.product__text {
    padding: 24px 16px 20px;
}

.product__head {
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.product__product__head {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-left: 16px;
}

.product__description {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 12px;
    margin-bottom: 18px;
}

.product__price {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.product__add {
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 139px;
    height: 44px;
    border: 1px solid #fff;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    position: absolute;
    top: 188px;
    left: 111px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.product__add::before {
    padding-right: 11px;
    content: url(../img/cart.svg);
}

.product__add:hover {
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0 0 5px #fff;
}

.product__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.product__fotter_catalog {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px 0 15px;
    width: 284px;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style-type: none;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    margin-bottom: 96px;
    margin-top: 10px;
    -ms-flex-item-align: center;
    align-self: center;
}

.product__number {
    margin: 0 10px 0 10px;
    list-style: none;
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    cursor: pointer;
}

.product__number:active:hover {
    text-decoration: none;
    color: #F16D7F;
}

.product__page:hover {
    color: #F16D7F;
}
.product__number_active{
    background-color: #FF6A6A;
    color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;

}
.product__number_normal{
    background-color: #FFFFFF;
    color: #222222;
}
.product__arrow {
    cursor: pointer;
    list-style: none;
    fill: #222222;
}

.product__arrow:hover {
    fill: #F16D7F;
}

.product__relative {
    position: absolute;
}

.product__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    height: 47px;
    width: 211px;
    border: 1px solid #F26376;
    margin-top: 30px;
    margin-bottom: 95px;
    text-decoration: none;
    cursor: pointer;
}

.product__button:hover {
    color: #FFFFFF;
    background: #F16D7F;
    border: 1px solid #FF6A6A;
}

.personal__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 341px;
    background: #222222;
}

.personal__text {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.personal {
    width: 360px;
    height: 134px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.personal__img {
    width: 40px;
    height: 40px;
}

.personal__header {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 24px;
}

.personal__body {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    margin-top: 16px;
}

.subscribe__background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-height: 448px;
}

.subscribe {
    height: 448px;
    background: url(../img/beach.png) bottom;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.subscribe__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.subscribe__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.aboutus__text {
    padding-top: 40px;
    width: 360px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222222;
}

.anotherfont {
    font-family: Lato;
    font-style: italic;
}

.subscribe__email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    padding-bottom: 32px;
}

.anothersize {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.subscribe__user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.subscribe__enter {
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 24px 0 0 24px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 22px;
    padding-right: 22px;
    width: 256px;
    height: 50px;
    background: #E1E1E1;
}

.subscribe__submit {
    border: none;
    border-radius: 0 25px 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #F16D7F;
    width: 100px;
    height: 50px;
    color: #ffffff;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.subscribe__submit:hover {
    background: #e05c6e;
}

.cart__redirect {
    text-decoration: none;
}

.old__machine {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
}

.social {
    height: 79px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #222222;
}

.social__left {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.social__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.social__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 32px;
    height: 32px;
    fill: #000000;
    background: #FFFFFF;
}

.social__block:hover {
    fill: #ffffff;
    background: #F16D7F;
}

.social__block:not(:last-child) {
    margin-right: 8px;
}

.header__navigation {
    height: 148px;
    background: #F8F3F4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.catalog {
    margin-bottom: 50px;
}

.header__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.header__breadcrumb__location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
}

.header__breadcrumb > .header__breadcrumb__link + .header__breadcrumb__link:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.header__breadcrumb__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #636363;
}

.header__breadcrumb__end {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #F16D7F;
}

.active__link {
    text-decoration: none;
}

.product__header__filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 51px;
}

.filter__menu {
    width: 35%;
    position: relative;
    z-index: 2;
}

.setting__details .setting__details__style ::-webkit-details-marker {
    display: none;
}

.setting__details .setting__details__style::-webkit-details-marker {
    display: none;
}

.setting__details :focus {
    outline: 0;
}

.setting__details, .setting__details__style {
    display: block;
}

.setting__details .setting__details__style:before {
    content: " ";
}

.setting__details[open] .setting__details__style:before {
    content: " ";
}

.setting__details__style {
    cursor: pointer;
    outline: 0;
}

.filter__button {
    position: absolute;
    z-index: 3;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: none;
    outline-style: none;
    cursor: pointer;
}

.filter__button__element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.filter__picture {
    display: none;
}

.filter__svg {
    height: 17px;
    padding-left: 11px;
}

.product__filters__middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: center;
    width: 65%;
    padding-bottom: 64px;
}

.filter__text {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.product__filters {
    list-style-type: none;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.product__filters__middle li:not(:last-child) {
    padding-right: 48px;
}

.filter__block {
    padding-top: 50px;
    z-index: 1;
    position: absolute;
    top: -13px;
    left: -16px;
    width: 300px;
    background: #FFFFFF;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.filter__menu__item {
    padding-bottom: 38px;
}

.filter__menu[open] .filter__svg {
    fill: #EF5B70;
}

.filter__menu[open] .filter__text {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #EF5B70;
}

.filter__category {
    margin-left: 17px;
    padding-left: 11px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #EF5B70;
    border-left: 5px solid #EF5B70;
    border-bottom: 1px solid #EBEBEB;
}

.filter__category__header {
    padding-top: 25px;
    list-style-type: none;
}

.filter__category__type {
    padding-left: 34px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    padding-top: 11px;
}

.category__link {
    text-decoration: none;
    color: #6F6E6E;
}

.category__link:hover {
    color: #F16D7F;
}

.product__lists {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #EF5B70;
    padding-top: 30px;
    padding-bottom: 110px;
}

.feature__menu {
    position: relative;
}

.feature__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.feature__text {
    padding-right: 10px;
}

.feature__text__description {
    padding-left: 23px;
    padding-right: 10px;
}

.checkbox__size {
    top: 22px;
    left: -10px;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 79px;
    background: white;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-top: 10px;
    padding-bottom: 7px;
}

.checkbox__type__description {
    top: 22px;
    right: 0px;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 79px;
    background: white;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-top: 10px;
    padding-bottom: 7px;
}

.size__name {
    list-style-type: none;
    height: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px;
    padding-left: 10px;
}

.name__item {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E;
    padding-left: 9px;
}

.photo__switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 777px;
    background: #F7F7F7;
}

.photo__left, .photo__right {
    width: 47px;
    height: 47px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(42, 42, 42, 0.15);
    fill: #222222;
}

.photo__left:hover {
    fill: #F16D7F;
}

.photo__right:hover {
    fill: #F16D7F;
}

.photo__it {
    height: 724px;
}

.item__description {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
}

.description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 1140px;
    height: 600px;
    border: 1px solid #EAEAEA;
    margin-bottom: 129px;
    margin-top: -65px;
    align-items: center;
    -ms-flex-item-align: center;
    align-self: center;
    background: #FFFFFF;
}

.description__filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 48px;
}

.first__line {
    width: 63px;
    background: #EF5B70;
    height: 3px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.second__line {
    width: 642px;
    background: #EAEAEA;
    margin-top: 65px;
    margin-bottom: 65px;
}

.description__type {
    padding-top: 64px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.description__head {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    padding-bottom: 48px;
}

.description__text {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    padding-bottom: 32px;
    width: 555px;
}

.description__prise {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
}

.description__cart {
    padding-left: 23px;
}

.description__button {
    fill: #EF5B70;
}

.description__button:hover {
    fill: #ffffff;
}

.product__block__place {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 98px;
}

.cart {
    padding-top: 96px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.cart__left {
    padding-bottom: 128px;
}

.cart__item {
    margin-bottom: 40px;
    width: 652px;
    height: 306px;
    border: 1px solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #ffffff;
    -webkit-filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    border: none;
}

.cart__item_modal {
    margin-bottom: 40px;
    height: 160px;
    border: 1px solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #ffffff;
    -webkit-filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    border: none;
}


.cart__text {
    padding-left: 31px;
    width: 262px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-right: 57px;
}

.cart__text_modal {
    padding-left: 15px;
    width: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-right: 20px;
}

.cart__header {
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
}

.cart__header_modal {
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #222222;
    width: 150px;
}

.cart__header:hover, .cart__header_modal:hover {
    color: #F16D7F;
}

.cart__mobile_modal {
    width: 100px;
    height: 100px;

}

.cart__name {
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    margin-bottom: 42px;
}

.cart__name_modal {
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #222222;
    margin-bottom: 22px;
}

.cart__properities {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
    padding-bottom: 6px;
}

.cart__properities_modal {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #575757;
    padding-bottom: 6px;
}

.cart__price {
    color: #F16D7F;
}

.cart__price_modal {
    color: #F16D7F;
}

.cart__color, .cart__size {
    color: red;
}


.cart__quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.cart__number {
    width: 43px;
    height: 22px;
    margin-left: 24px;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #656565;
}

.cart__number_modal {
    width: 20px;
    height: 16px;
    margin-left: 24px;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #656565;
}

.cart__number::-webkit-outer-spin-button, .cart__number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.modal__go {
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
}

.modal__go:hover {
    color: #F16D7F;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
}

.cart__close {
    text-decoration: none;
    cursor: pointer;
    padding-top: 28px;
}

.cart__close_modal {
    margin-top: 20px;
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;

}

.cart__button {
    padding-top: 32px;
    width: 652px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.cart__clear {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    width: 235px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    background: #FFFFFF;
    color: #000000;
    border: 1px solid #A4A4A4;
}

.cart__clear:hover, .cart__continue:hover, .cart__input:hover {
    background: #F16D7F;
    color: white;
    border: 1px solid #F16D7F;
}

.cart__clear_mobile {
    display: none;
}

.cart__continue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    width: 235px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    background: #FFFFFF;
    color: #000000;
    border: 1px solid #A4A4A4;
    text-decoration: none;
}

.cart__continue_mobile {
    display: none;
    text-decoration: none;
}

.cart__right {
    padding-top: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.cart__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.cart__place {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.cart__post {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-bottom: 20px;
}

.cart__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 45px;
    width: 326px;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 21px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #222222;
}

.cart__input {
    width: 100px;
    height: 34px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    background: #FFFFFF;
    border: 1px solid #A4A4A4;
}

.cart__input_mobile {
    display: none;
}

.cart__buy {
    margin-top: 57px;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 214px;
    width: 360px;
    background: #F5F3F3;
}

.cart__subtotal {
    padding-right: 34px;
    padding-top: 39px;
    padding-bottom: 12px;
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: 108px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
}

.cart__grandtotal {
    padding-right: 34px;
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: 170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}

.cart__grand {
    color: #F16D7F;
}

.cart__line {
    margin-top: 21px;
    margin-bottom: 17px;
    width: 275px;
    background: #E2E2E2;
}

.cart__checkout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 273px;
    height: 50px;
    background: #F16D7F;
    color: white;
    border: 0;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.cart__checkout:hover {
    background: #e05c6e;
}

.registration {
    padding-top: 64px;
    padding-bottom: 96px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.registration__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.registration__checkbox {
    margin-top: 10px;
    margin-bottom: 33px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}

.registration__check {
    margin-right: 10px;
}

.registration__radio:not(:first-child) {
    margin-left: 20px;
}

.registration__name {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    padding-bottom: 20px;
}

.registration__item {
    font-family: Lato;
    font-style: normal;
    width: 358px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 45px;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #222222;
    padding-left: 16px;
    padding-right: 16px;
}

.registration__login {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    padding-bottom: 20px;
}

.registration__left .registration__item:not(:last-of-type) {
    margin-bottom: 21px;
}

.registration__description {
    padding-top: 15px;
    padding-bottom: 39px;
    width: 360px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
}

.registration__button {
    width: 167px;
    height: 50px;
    background: #F16D7F;
    color: white;
    fill: white;
    padding-right: 29px;
    padding-left: 29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 0;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.registration__button:hover {
    background: #e05c6e;
}

.registration__old {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.registration__right {
    width: 652px;
}

.registration__head {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-bottom: 22px;
}

.registration__text {
    width: 652px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-bottom: 21px;
}

.registration__loyalty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-bottom: 16px;
}

.registration__ok {
    margin-right: 23px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (min-width: 1144px) {
    .center {
        padding-left: calc(50% - 570px);
        padding-right: calc(50% - 570px);
    }
}

@media (max-width: 1143px) {
    .center {
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
    }

    .header__left {
        margin-left: 13px;
    }

    .sale {
        padding-top: 20px;
        padding-bottom: 154px;
    }

    .sale__top {
        padding-bottom: 20px;
    }

    .sale__item:not(:last-child) {
        margin-right: 20px;
    }

    .product__p {
        padding-bottom: 73px;
    }

    .product__item {
        margin-bottom: 18px;
    }

    .personal__info {
        height: 610px;
    }

    .personal__text {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-top: 48px;
        padding-bottom: 64px;
    }

    .subscribe {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 693px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-top: 64px;
        padding-bottom: 140px;
    }

    .product__catalog .product__item:last-child {
        display: none;
    }

    .product__header__filters {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .filter__menu {
        width: auto;
    }

    .product__filters__middle {
        width: auto;
    }

    .product__filters__middle li:not(:last-child) {
        padding-right: 28px;
    }

    .photo__switch {
        max-height: 624px;
    }

    .photo__it {
        height: 565px;
    }

    .description {
        width: 768px;
    }

    .product__block__place .product__item:last-child {
        display: none;
    }

    .cart {
        padding-top: 60px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .cart__item {
        width: 734px;
    }

    .cart__left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-bottom: 104px;
    }

    .cart__text {
        padding-right: 137px;
    }

    .cart__button {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        width: 517px;
    }

    .cart__right {
        width: 734px;
        -webkit-box-orient: unset;
        -webkit-box-direction: unset;
        -ms-flex-direction: unset;
        flex-direction: unset;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .cart__input {
        margin-bottom: 129px;
    }

    .cart__address {
        width: 359px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .cart__buy {
        margin-top: 39px;
        width: 360px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .registration {
        padding-top: 40px;
    }

    .registration__right {
        width: 350px;
    }

    .registration__head {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }

    .registration__text {
        font-style: normal;
        width: 100%;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }

    .registration__loyalty {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }

    .header__navigation_reg {
        padding-top: 0;
        padding-bottom: 0;
    }

    .header__title_reg {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #F16D7F;
    }

    .product__footer_catalog {
        margin-bottom: 63px;
    }
}

@media (max-width: 767.9px) {
    .center {
        padding-left: calc(50% - 172px);
        padding-right: calc(50% - 172px);
    }

    .header__left {
        margin: 0;
    }

    .header__right li:not(:last-child) {
        margin-right: 0;
    }

    .left__icon {
        display: none;
    }

    .menu__new {
        display: block;
    }

    .promo {
        height: 363px;
    }

    .promo__img {
        display: none;
    }

    .promo__text {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .promo__content {
        margin: 0;
    }

    .promo__heading {
        font-size: 44px;
        line-height: 53px;
    }

    .promo__info {
        font-size: 24px;
        line-height: 29px;
    }

    .sale {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .sale__top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .sale__item {
        width: 100%;
        margin: 0;
    }

    .img__bottom {
        height: 110px;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .product__p {
        padding-bottom: 64px;
    }

    .aboutus__text {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }

    .anothersize {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
    }

    .subscribe {
        height: 550px;
        padding-bottom: 110px;
    }

    .subscribe__enter {
        height: 47px;
        width: 225px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #222224;
    }

    .subscribe__submit {
        width: 95px;
        height: 47px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .social {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        padding-top: 43px;
        padding-bottom: 9px;
    }

    .social__right {
        padding-bottom: 40px;
    }

    .header__navigation {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 46px;
    }

    .filter__picture {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        fill: #222222;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .filter__button__element {
        display: none;
    }

    .product__filters__middle li:not(:last-child) {
        padding-right: 24px;
    }

    .feature__text {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
    }

    .product__header__filters {
        padding-top: 24px;
    }

    .product__filters__middle {
        padding-top: 2px;
        padding-bottom: 41px;
    }

    .filter__menu[open] .filter__picture {
        fill: #F16D7F;
    }

    .product__catalog .product__item:last-child {
        display: block;
    }

    .product__lists {
        padding-top: 36px;
        padding-bottom: 77px;
    }

    .photo__img {
        width: 100%;
        -ms-flex-item-align: center;
        align-self: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
    }

    .photo__it {
        width: 350px;
        height: 454px;
    }

    .photo__left {
        position: absolute;
        left: 0;
        z-index: 2;
    }

    .photo__right {
        position: absolute;
        right: 0;
        z-index: 2;
    }

    .description {
        width: 100%;
    }

    .description__text {
        width: 320px;
    }

    .second__line {
        width: 175px;
    }

    .feature__text__description {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
    }

    .product__block__place .product__item:last-child {
        display: block;
    }

    .cart {
        padding-top: 40px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .cart__mobile {
        width: 144px;
    }

    .cart__item {
        width: 357px;
        height: 188px;
        margin-bottom: 32px;
    }

    .cart__header {
        width: 143px;
        font-size: 16px;
        line-height: 19px;
    }

    .cart__name {
        font-size: 16px;
        line-height: 19px;
    }

    .cart__properities {
        font-size: 14px;
        line-height: 17px;
    }

    .cart__number {
        width: 24px;
        height: 15px;
        font-size: 10px;
        line-height: 12px;
    }

    .cart__left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-bottom: 48px;
    }

    .cart__text {
        width: 143px;
        padding-left: 17px;
        padding-right: 31px;
    }

    .cart__button {
        padding-top: 0;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        width: 358px;
    }

    .cart__close {
        padding-top: 17px;
    }

    .cart__clear {
        display: none;
    }

    .cart__continue {
        display: none;
    }

    .cart__clear_mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 174px;
        height: 32px;
        font-size: 12px;
        line-height: 14px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        background: #FFFFFF;
        color: #000000;
        border: 1px solid #A4A4A4;
    }

    .cart__clear_mobile:hover {
        background: #F16D7F;
        color: #ffffff;
    }

    .cart__continue_mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 174px;
        height: 32px;
        font-size: 12px;
        line-height: 14px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        background: #FFFFFF;
        color: #000000;
        border: 1px solid #A4A4A4;
    }

    .cart__continue_mobile:hover {
        background: #F16D7F;
        color: #ffffff;
    }

    .cart__right {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .cart__input {
        display: none;
    }

    .cart__input_mobile {
        width: 100px;
        height: 34px;
        display: block;
        font-family: Lato;
        font-size: 11px;
        line-height: 13px;
        color: #575757;
        background: #FFFFFF;
        border: 1px solid #A4A4A4;
        margin-bottom: 48px;
    }

    .cart__input_mobile:hover {
        background: #F16D7F;
        color: #ffffff;
    }

    .cart__address {
        height: 44px;
        width: 359px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .cart__buy {
        margin-top: 0;
        margin-bottom: 96px;
        width: 360px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .registration {
        padding-top: 40px;
        padding-bottom: 84px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .registration__item {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }

    .registration__button {
        margin-bottom: 40px;
    }

    .header__navigation_reg {
        padding-top: 0;
        padding-bottom: 0;
    }

    .header__title_reg {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #F16D7F;
    }
}

@media (max-width: 319px) {
    .center {
        padding-left: 15px;
        padding-right: 15px;
    }

    .photo__switch {
        height: 400px;
    }

    .description__text {
        width: 300px;
    }

    .photo__it {
        width: 100%;
        height: 300px;
    }
}

/*# sourceMappingURL=style.css.map */